<div class="p-1 position-sticky d-flex justify-content-center" style="height: 5vh">
    <div class="container text-center p-2">
        <div class="row p-1">
            <input class="form-control me-2" type="search" placeholder="{{ placeholderSearch }}" aria-label="Search">
        </div>
        <div class="row p-1">
            <div class="container">
                <div class="row row-cols-6">
                    <app-filter-badge *ngFor="let filter of filters | keyvalue"
                        [label]="filter.key"
                        [checked]="filter.value"
                        (changeCheckboxStatus)="updateFilter($event)"
                    ></app-filter-badge>
                </div>
              </div>
        </div>
    </div>
</div>